*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background: #000 url('img/star_bg.jpeg') no-repeat center/cover;
  height: 100vh;
  color: #fff;
  font-size: Arial;
}

.center{
  text-align: center;
}

img{
  width: 40%;
}